extends layout

block content
  h1 Dumbells Class
  .container-fluid
    .row
      - let dumbells = results
      each dumbell, index in dumbells
        .col-sm-4(style="cursor: pointer", onclick=`buy(${index})`) 
          h4= dumbell.dumbell_name
          div Dumbell Name: #{dumbell.dumbell_name}
          div Weight: #{dumbell.weight} lbs
          div Material: #{dumbell.material}
          - let destination = `dispatch("/costumes/update?id=${dumbell._id}")`
          button.btn(class="btn-primary ml-1", onclick=destination) Update
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
