extends layout

block content
  h1 Dumbells Class
  - let destination = `dispatch(\"/dumbells/create")`
  button.btn(class="btn-primary ml-1", onclick=destination) Create Dumbell
  .container-fluid
    .row
      - let dumbells = results
      each dumbell, index in dumbells
        .col-sm-4(style="cursor: pointer", onclick=`buy(${index})`) 
          h4= dumbell.dumbell_name
          div Dumbell Name: #{dumbell.dumbell_name}
          div Weight: #{dumbell.weight} lbs
          div Material: #{dumbell.material}
          - let destination_1 = `dispatch(\"/dumbells/update?id=${dumbell._id}\")`
          - let destination_2 = `dispatch(\"/dumbells/detail?id=${dumbell._id}\")`
          - let destination_3 = `dispatch(\"/dumbells/delete?id=${dumbell._id}\")`
          button.btn(class="btn-primary ml-1", onclick=destination_1) Update
          button.btn(class="btn-primary ml-1", onclick=destination_2) Detail
          button.btn(class="btn-primary ml-1", onclick=destination_3) Delete
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
    function dispatch(path){
      window.location.href = path;
    }
