extends layout

block content
  h1 Dumbells Class
  .container-fluid
    .row
      - let dumbells = results
      each dumbell, index in dumbells
        .col-sm-4(style="cursor: pointer", onclick=`buy(${index})`) 
          h4= dumbell.dumbell_name
          p Dumbell Name: #{dumbell.dumbell_name}
          p Weight: #{dumbell.weight} lbs
          p Material: #{dumbell.material}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }  
